.titre {
text-align: center;
}

#affichage-melange {
font-size: 80px;
text-align: justify;
margin: 20px;
}

#unites, #dizaines, #centaines, #unitesMille, #dizainesMille, #centainesMille, #unitesMillion, #dizainesMillion, #centainesMillion, #unitesMilliard, #dizainesMilliard, #centainesMilliard {
display: flex;
flex-direction: row;
}

#groupeMille, #groupeUnites, #groupeMillion, #groupeMilliard {
display: grid;
margin: 20px;
justify-content: center;
}

#ligne1, #ligne2 {
justify-content: space-around;
margin: 20px;
}

button {
width: 175px;
text-align: center;
}

.boutonTous, .boutonAucun {
width: 70px;
text-align: center;
}
